<template>
  <div class="content-wrapper">
    <div>
        <table class="transactionList">
          <thead>
          <tr>
              <th>
                DD-MM-YYYY
                <i @click="sortByDate()" class="material-icons">arrow_drop_down</i>
              </th>
              <th>
                Counterparty Name
                <i @click="sortByCounterParty()" class="material-icons">arrow_drop_down</i>
              </th>
              <th>
                Payment Type
                <i @click="sortByPaymentType()" class="material-icons">arrow_drop_down</i>
              </th>
              <th>
                Amount
                <i @click="sortByAmount()" class="material-icons">arrow_drop_down</i>
              </th>
          </tr>
          </thead>
          <tbody class="list-group" v-sortable>
          <transaction-bloc v-for="transaction in transactions.transactions" v-bind:data="transaction"></transaction-bloc>
          </tbody>
        </table>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import TransactionBloc from './parts/TransactionBloc';

  export default {
    components: {TransactionBloc},
    name: 'Transactions',
    data () {
      return {
        sortedByDate: false,
        sortedByCounterParty: false,
        sortedByPaymentType: false,
        sortedByAmount: false,
        transactions:
          {
            "transactions": [
              {
                "id": "1",
                "created_at": "2016-01-01T08:30:39-0300",
                "counterparty_name": "Uber",
                "debit": "false",
                "credit": "true",
                "amount": "44.20",
                "currency": "EUR",
                "operation_type": "refund",
                "attachements": [
                  {
                    "url": "https://fakeimg.pl/350x200/?text=Hello"
                  }
                ]
              },
              {
                "id": "2",
                "created_at": "2016-01-02T09:00:49-0300",
                "counterparty_name": "Amazon",
                "debit": "true",
                "credit": "false",
                "amount": "-454.02",
                "currency": "EUR",
                "operation_type": "transfer",
                "attachements": [
                  {
                    "url": "https://fakeimg.pl/350x200/?text=Hello"
                  }
                ]
              },
              {
                "id": "3",
                "created_at": "2016-01-02T10:30:49-0300",
                "counterparty_name": "Air canada",
                "debit": "true",
                "credit": "false",
                "amount": "-156.02",
                "currency": "EUR",
                "operation_type": "purchase",
                "attachements": [
                  {
                    "url": "https://fakeimg.pl/350x200/?text=Hello"
                  }
                ]
              },
              {
                "id": "4",
                "created_at": "2016-01-02T05:10:33-0300",
                "counterparty_name": "Uber",
                "debit": "true",
                "credit": "false",
                "amount": "-78.55",
                "currency": "EUR",
                "operation_type": "purchase",
                "attachements": [
                  {
                    "url": "https://fakeimg.pl/350x200/?text=Hello"
                  }
                ]
              },
              {
                "id": "5",
                "created_at": "2016-01-03T11:30:49-0300",
                "counterparty_name": "Auchan",
                "debit": "true",
                "credit": "false",
                "amount": "-48.05",
                "currency": "EUR",
                "operation_type": "cashback",
                "attachements": [
                  {
                    "url": "https://fakeimg.pl/350x200/?text=Hello"
                  }
                ]
              },
              {
                "id": "6",
                "created_at": "2016-01-03T17:11:46-0300",
                "counterparty_name": "Uber",
                "debit": "true",
                "credit": "false",
                "amount": "-24.22",
                "currency": "EUR",
                "operation_type": "purchase",
                "attachements": [
                  {
                    "url": "https://fakeimg.pl/350x200/?text=Hello"
                  }
                ]
              },
              {
                "id": "7",
                "created_at": "2016-01-03T17:11:46-0300",
                "counterparty_name": "Uber",
                "debit": "true",
                "credit": "false",
                "amount": "-24.22",
                "currency": "EUR",
                "operation_type": "purchase",
                "attachements": [
                  {
                    "url": "https://fakeimg.pl/350x200/?text=Hello"
                  }
                ]
              },
              {
                "id": "8",
                "created_at": "2016-01-04T17:11:46-0300",
                "counterparty_name": "Amazon",
                "debit": "false",
                "credit": "true",
                "amount": "64.22",
                "currency": "EUR",
                "operation_type": "refund",
                "attachements": [
                  {
                    "url": "https://fakeimg.pl/350x200/?text=Hello"
                  }
                ]
              },
              {
                "id": "9",
                "created_at": "2016-01-06T17:11:46-0300",
                "counterparty_name": "Uber",
                "debit": "true",
                "credit": "false",
                "amount": "-4.66",
                "currency": "EUR",
                "operation_type": "purchase",
                "attachements": [
                  {
                    "url": "https://fakeimg.pl/350x200/?text=Hello"
                  }
                ]
              },
              {
                "id": "10",
                "created_at": "2016-01-08T17:11:46-0300",
                "counterparty_name": "Uber",
                "debit": "true",
                "credit": "false",
                "amount": "-64.52",
                "currency": "EUR",
                "operation_type": "purchase",
                "attachements": [
                  {
                    "url": "https://fakeimg.pl/350x200/?text=Hello"
                  }
                ]
              },
              {
                "id": "11",
                "created_at": "2016-01-10T17:11:46-0300",
                "counterparty_name": "Uber",
                "debit": "true",
                "credit": "false",
                "amount": "-94.26",
                "currency": "EUR",
                "operation_type": "purchase",
                "attachements": [
                  {
                    "url": "https://fakeimg.pl/350x200/?text=Hello"
                  }
                ]
              },
              {
                "id": "12",
                "created_at": "2016-01-11T17:11:46-0300",
                "counterparty_name": "Uber",
                "debit": "true",
                "credit": "false",
                "amount": "-278.22",
                "currency": "EUR",
                "operation_type": "purchase",
                "attachements": [
                  {
                    "url": "https://fakeimg.pl/350x200/?text=Hello"
                  }
                ]
              },
              {
                "id": "13",
                "created_at": "2016-01-13T17:11:46-0300",
                "counterparty_name": "Uber",
                "debit": "true",
                "credit": "false",
                "amount": "-264.12",
                "currency": "EUR",
                "operation_type": "purchase",
                "attachements": [
                  {
                    "url": "https://fakeimg.pl/350x200/?text=Hello"
                  }
                ]
              },
              {
                "id": "14",
                "created_at": "2016-01-20T17:11:46-0300",
                "counterparty_name": "Uber",
                "debit": "true",
                "credit": "false",
                "amount": "-77.25",
                "currency": "EUR",
                "operation_type": "purchase",
                "attachements": [
                  {
                    "url": "https://fakeimg.pl/350x200/?text=Hello"
                  }
                ]
              }
            ]
          }

      }
    },
    mounted() {
      /*axios({ method: "GET", "url": "http://private-3f9656-paymiuminterviews.apiary-mock.com/transactions" }).then(result => {
        this.transactions = result.data;
      }, error => {
        console.error(error);
      });*/
    },
    methods: {
      sortByDate: function () {
        var sortedByDate = this.sortedByDate;
        this.transactions.transactions.sort(function(a, b){
          var keyA = new Date(a.created_at),
            keyB = new Date(b.created_at);
          // Compare the 2 dates
          if(!sortedByDate) {
            if (keyA < keyB) return -1;
            if (keyA > keyB) return 1;
          }
          else{
            if (keyA > keyB) return -1;
            if (keyA < keyB) return 1;
          }
          return 0;
        });
        this.sortedByDate = !this.sortedByDate;
      },
      sortByCounterParty: function () {
        var sortedByCounterParty = this.sortedByCounterParty;
        this.transactions.transactions.sort(function(a, b){
          var keyA = a.counterparty_name,
            keyB = b.counterparty_name;
          // Compare the 2 dates
          if(!sortedByCounterParty) {
            if (keyA < keyB) return -1;
            if (keyA > keyB) return 1;
          }
          else{
            if (keyA > keyB) return -1;
            if (keyA < keyB) return 1;
          }
          return 0;
        });
        this.sortedByCounterParty = !this.sortedByCounterParty;
      },
      sortByPaymentType: function () {
        var sortedByPaymentType = this.sortedByPaymentType;
        this.transactions.transactions.sort(function(a, b){
          var keyA = a.operation_type,
            keyB = b.operation_type;
          // Compare the 2 dates
          if(!sortedByPaymentType) {
            if (keyA < keyB) return -1;
            if (keyA > keyB) return 1;
          }
          else{
            if (keyA > keyB) return -1;
            if (keyA < keyB) return 1;
          }
          return 0;
        });
        this.sortedByPaymentType = !this.sortedByPaymentType;
      },
      sortByAmount: function () {
        var sortedByAmount = this.sortedByAmount;
        this.transactions.transactions.sort(function(a, b){
          var keyA = a.amount,
            keyB = b.amount;
          // Compare the 2 dates
          if(!sortedByAmount) {
            if (keyA < keyB) return -1;
            if (keyA > keyB) return 1;
          }
          else{
            if (keyA > keyB) return -1;
            if (keyA < keyB) return 1;
          }
          return 0;
        });
        this.sortedByAmount = !this.sortedByAmount;
      }
    }
  }
</script>

<style scoped>

  .content-wrapper{width:70%;
  float:left;}







h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

  .content-wrapper{
    width: 65%;
    float: left;
    padding:5%;
  }
  table thead span{
    border-bottom: 1px solid;
    margin-bottom: 10px;
    display: block;
  }
</style>
