<template>
  <div id="wrapper">
    <h3>FINPAL</h3>
  </div>
</template>

<script>
  import router from '../../router';
  export default {
    props: [],
    data() {
      return {};
    },
    methods: {
      back(){
        router.back();
      }
    }
  }
</script>

<style scoped>
 div#wrapper{
   background: #585d61;
   text-align: center;
   padding-top: 17px;
   font-size: 25px;
   color: white;
   width: 25%;
   height: 100%;
   float: left;
   padding:0;
 }
  h3{
    background: #42474b;
    margin: 0;
    text-align: left;
    padding: 40px 20px 40px 60px;
  }

</style>
