<template>
  <tr class="transactionLine list-group-item"  v-bind:class="'trans' +data.id + ' transaction'">
      <td>
        {{data.created_at}}
      </td>
      <td>
        {{data.counterparty_name}}
      </td>
      <td>
        {{data.operation_type}}
      </td>
      <td>
        {{data.amount}}
      </td>
  </tr>
</template>

<script>
  import moment from 'moment';
  export default {
    props: ['data'],
    data() {
      return { checkedStar: false };
    },
    methods: {
      getTypeColor(){
        var color = "";
        switch (this.data.type) {
          case 'football':
            color="#37b76a";
            break;
          case 'running':
            color="red";
            break;
          default:
            color="#37b76a";
        }
        return color;
      }
    }
  }
</script>

<style scoped>
.transactionLine{
  border-bottom:1px solid
}
.transactionLine td {
  border-bottom: 1px solid;
  border-bottom: 1px solid;
  padding: 11px;
}

</style>
